p2 { color: blue;}
p3 { color: red;}


body{ background-color:lightgrey ;} 
html {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6% 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.nav_bar {
        margin-top: -10px;
        display: flex;
        position: fixed;
        background-color: aliceblue;
        grid-template-columns: repeat(3, 1fr) 0.25fr 0.2fr 0.2fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
}
.nav_bar_button {
    display: grid;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
<<<<<<< HEAD
=======
p2 { color: blue;}
p3 { color: red;}

h1 { border: 5px solid#1aa6e7; padding: 10px; text-align: center;}
body { background-color:lightgrey ;} 
section #accueil { margin: 10px}
section #histoire { margin: 10px}
section #monuments { margin: 10px}
section #event { margin: 10px}
img { width: 150px;}
<<<<<<< HEAD

=======
>>>>>>> e0db198f6723ebe56174f771790992d2d98218d4
>>>>>>> 8acc9807c6ba4224b98743d894c51cde46f5b083
